flex-center()
	display flex
	align-items center
	justify-content center

middleX()
	right 50%
	transform: translateX(50%)

shadow()
	box-shadow: 0 12px 24px 0 rgba(0,137,110,0.30)

border-1px()
	box-shadow: inset 0px -1px 1px -1px #c8c7cc